body{
    margin: 0;
    padding: 0;
}




.footer{
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}